@{
  Layout = "_Layout";
}

@* Student model = new Student(passed in controller); *@
@model University.Models.Student;
@using University.Models;

<div>
  <h1>@Model.Name</h1>
</div>
<div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)
    @Html.Label("Course")
    @Html.DropDownList("CourseId")
    <input type="submit" value="Add"/>
  }
  <br>
  <p>@Model.Name's Current Courses</p>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)
    foreach (var join in Model.JoinEntities)
    {
      @join.Course.Name
      @Html.CheckBox("Completed", false)
    }
    <br>
    <input type="submit" value="Update"/>
  }
</div>

